.tabs {
  display: flex;
  margin-bottom: 20px;
  background-color: #007bff;
  z-index: 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  color: white;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
  flex: 1;
}
.tab-mover {
  z-index: 1;
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: #0056b3;
  transition: all 0.5s ease-in-out;
}
.tab-content {
  display: none;
  flex-grow: 1;
}
.tab-content.active {
  display: block;
}
h1 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #333;
  text-align: center;
}
input[type="file"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
p {
  margin-top: 20px;
  color: #666;
}
.loading {
  display: none;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease;
}
#result-container {
  margin-top: 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border: 2px dashed #007bff;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.file-input-container:hover {
  background-color: #f0f8ff;
}
.file-input-label {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.file-input-label:hover {
  background-color: #0056b3;
}
.file-input {
  display: none;
}
.file-name {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 10px;
}
.file-name img {
  width: 20px;
  height: 20px;
}
#loading {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
}
#url {
  width: fit-content;
  margin: auto;
  margin-top: 12px;
  text-align: center;
  display: none;
  font-size: 14px;
  cursor: pointer;
}

#error {
  width: fit-content;
  margin: auto;
  margin-top: 12px;
  text-align: center;
  color: red;
  display: none;
}

#result {
  display: none;
  font-size: medium;
  text-align: center;
  font-weight: 400;
  margin-top: 6px;
}

#loadingValidate {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
}
